.chat__posted
  .chat__posted__top
    .chat__posted__top__user
      %p.message__user test-user
      %p.message__date 2019/08/14(Wed) 17:00:00
    %p.chat__message こんにちは！
  .chat__middle
    .chat__posted__top__user
      %p.message__user test-user
      %p.message__date 2019/08/14(Wed) 17:00:00
    %p.chat__message こんにちは！!