.side__bar
  .side__top
    .side__top__box
      %p.side__top__box__user__name
        = current_user.name
      %ul.side__top__box__menu
        %li.side__top__box__menu__new-group
          =link_to new_group_path, class: "my-white" do
            %i.fa.fa-edit
        %li.side__top__box__menu__edit-user
          =link_to edit_user_path(current_user), class: "my-white" do
            %i.fa.fa-cog
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message